.input {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        display: block;

        padding-left: 0.2rem;

        margin-bottom: 0.3rem;

        @include simple-text;
    }

    &__field {
        width: 21rem;

        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        border: 1px solid $light-gray;
        box-sizing: border-box;
        border-radius: 8px;

        @include simple-text;

        &--textarea {
            width: 100%;
            min-height: 5.5rem;
            max-height: 20rem;

            resize: vertical;
        }

        &:disabled {
            color: rgba(0, 0, 0, 0.3);
        }
    }

    
}