.useritem {
    position: relative;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-top: 1.4rem;

    background: $light-gray;
    border-radius: 0.8rem;

    font-size: 1.4rem;
    line-height: 1.6rem;  

    &-row {
        padding-bottom: 0.8rem;

        &:last-child {
            padding-bottom: 0;
        }

        &__title {
            color: #a3a3a3;          
        }
    }

    &__link {
        position: absolute;

        bottom: 1rem;
        right: 1rem;

        font-size: 1.4rem;
        line-height: 1.6rem;

        text-decoration: none;

        color: $violet;
    }
}